

body {
    background: linear-gradient(
        180deg,
        rgba(118, 194, 222, 0.25) 0%,
    rgba(83, 156, 183, 0.40) 25%,
    rgba(170, 211, 226, 0.5) 50%,
    rgba(63, 123, 145, 0.75) 75%,
    rgba(29, 68, 82, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 800px;
    
}
.BG01 {
    width: 138px;
    height: 124px;
    opacity:0.35;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.BG02 {
    width: 249px;
    height: 249px;
    opacity:0.34;
    x: -96px;
    y: 232px;
    rotate: 
}

    .Button-dose-calculator {
        background-color: #2E7DA4;
        color: black;
        height: 70px;
        width: 270;
        padding: 6px;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        border-width: 2px;
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        margin-bottom: 50px;  
        cursor: pointer;
        text-align: baseline;
 }
 .Weight-Based-Div {
    display: flex;
    align-items:baseline;
    justify-content:baseline;
 }
.Button-weight-based {
    background-color: #5C869A;
        color: black;
        height: 75px;
        width: 200px;
        padding: 6px;
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 19px;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px; 
        box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
        cursor: pointer;
}
.Button-Formula-weight-based {
background-color: #BBCED7;
height: 34px;
width: 200px;
padding: 6px;
font-size: 12px;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
border: none;
display: none;
justify-content: center;
box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
}
.Weight-Based-Div:hover .Button-weight-based{
    background-color: #446A7C;
}
.Weight-Based-Div:hover .Button-Formula-weight-based{
    display: flex;
    opacity: 1px;
    transition: opacity 0.3s ease-in;
}

.Button-Body-Surface{
    background-color: #5C869A;
    color: black;
    height: 75px;
    width: 200px;
    border: none;
    padding: 4px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 19px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
    cursor: pointer;
    white-space: nowrap;
    margin-top: 50px;
 }
 .Formula-Body-surface-based{
    background-color: #BBCED7;
    height: 34px;
    width: 200px;
    padding: 6px;
    font-size: 12px;
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    border: none;
    display: none;
    justify-content: center;
    box-shadow: 4px 4px 5px 0px rgba(103, 115, 120, 1);
    margin-top: 0px;
    margin-bottom: 50px;
 }
 .Body-Surface-Div {
    margin-bottom: 50px;
 }
.Body-Surface-Div:hover .Button-Body-Surface{
    background-color: #446A7C;

}
.Body-Surface-Div:hover .Formula-Body-surface-based{
    display: flex;
    opacity: 1px;
    transition: opacity 0.3s ease-in;;
}
.custom-dropdown {
    background-color: none;
    width: 289px;
    height: 30px;
    font-family: 'Instrument Serif';
    src: url('fonts/InstrumentSerif-Regular.woff2') format('woff2'),
       url('fonts/InstrumentSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    position: relative;   
    font-size: 15px;
    margin-bottom: 350px;
}
.dropdown-header{
background-color: #EDF4F6;
    font-size: 15px;
    font-family: 'Instrument Serif';
    src: url('fonts/InstrumentSerif-Regular.woff2') format('woff2'),
       url('fonts/InstrumentSerif-Regular.woff') format('woff');
    font-weight: medium;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    width: 275px;
    margin-top: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}
.dropdown-list .item-1{
background-color: #EDF4F6;
}

.dropdown-list .item-1 .age{
    font-family: sans-serif;
    font-size: 12px;
    font-style: InstrumentSerif-Regular;
    margin-right: 45px;
}
.dropdown-list .item-1 .weight{
    font-family: sans-serif;
    font-size: 12px;
    font-style: InstrumentSerif-Regular;
    margin-left: 45px;
}
.dropdown-list .item-2{
background-color: #D0E3E9;

}

.dropdown-list .item-2 .age{
    font-family: sans-serif;
    font-size: 12px;
    font-style: InstrumentSerif-Regular;
    margin-right: 45px;
}
.dropdown-list .item-2 .weight{
    font-family: sans-serif;
    font-size: 12px;
    font-style: InstrumentSerif-Regular;
    margin-left: 45px;
}

.paragraph-01 {
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    width: 311px;
}